body
  font-family: "Titillium Web", Helvetica,Arial,sans-serif;
  color:#333
  
h1,h2,h3,h4,h5{font-family:"Titillium Web",Helvetica,Arial,sans-serif}
.game .panel{min-height:170px;position:relative}
.delete-game{position:absolute;bottom:0;right:0;margin:0;border:none;box-shadow:none}
.player{width:50%;text-align:center}
.score{font-size:60px}
.winner{color:#21b321;font-weight:600}
.name{font-weight:bold}
.top-bar{margin-bottom:20px}