!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Heroku seed
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        block body
        script(src='js/lib/angular/angular.min.js')
        script(src='js/app.js')
        script(src='js/controllers.js')